
@{
    ViewBag.Title = "acceuil";
    Layout = "~/Views/acceuilPage.cshtml";
}







<div id="contenu2">

    <div id="b1"><img src="~/imagess/i3.jpg" width="852" height="500" /></div>
</div>

<div id="contenu1">

    <h1 id="b2"><i>yallah<br />ndik</i></h1>
</div>
<style>
    #contenu1{position: relative;}
    #b2{position:absolute;top:170px;left:4%;font-size:140px;}
    #contenu2 {
        position: relative;
    }
    #b1 {
        position:absolute;
        top:0px;
        left:50%;
    }
</style>