
@{
    ViewBag.Title = "choix";
    Layout = "~/Views/_LayoutSociete.cshtml";
}

<h1 style="font-size:60px;margin-left:300px">faire votre choix</h1><br /><br /><br /><br /><br /><br /><br /><br /><br />
<div align="center">
    <a href="/trajet/ajouter" class="btn btn-success btn-lg btn-block">ajouter trajet </a><br />
    <a href="/demande" class="btn btn-info btn-lg btn-block">consulter les demandes des clients</a>
</div>